<div class="container">
  <!--select element where End-user can select the pageSize-->
  <table class="table table-bordered table-striped">
     <thead>
       <tr>
         <th *ngFor="let h of headers">{{h}}


         </th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let record of DataSource">
           <td *ngFor="let h of headers">
             {{record[h]}}
           </td>
           <td [hidden]="!CanDelete">
             <button class="btn btn-danger">Delete</button>
           </td>
       </tr>
     </tbody>
     <tfoot>
       <tr>
         <td [colSpan]="colSpan">
            <!--The Bootstrap Paginator
              Bind its numbering to the
              pageSize
              (pageChange)
            -->
         </td>
       </tr>
     </tfoot>
  </table>
  </div>
