<div class="container">
   <div class="form-group">
       <label> Product Id:
          <input type="text" class="form-control"
            [(ngModel)]="product.ProductId">
        </label>
   </div>
   <div class="form-group">
    <label> Product Name:
       <input type="text" class="form-control"
       [(ngModel)]="product.ProductName">
     </label>
     <span>
        <strong>
            {{product.ProductName | uppercase}}
        </strong>
     </span>
</div>
<div class="form-group">
  <label> Category Name:
     <!-- <select class="form-control"
     [(ngModel)]="product.CategoryName"
     >
      <option>Select Category</option>
      <option *ngFor="let c of categories" value="{{c}}">{{c}}</option>
    </select> -->
    <app-select-component [DataSource]="categories"
     (change)="categoryChange($event)"></app-select-component>
   </label>
</div>
<div class="form-group">
  <label> Manufacturer Name:
     <!-- <select class="form-control"
     [(ngModel)]="product.Manufacturer"
     >
     <option>Select Manufacturer</option>
      <option *ngFor="let m of manufacturers" value="{{m}}">{{m}}</option>
    </select> -->
    <app-select-component [DataSource]="manufacturers"
     (change)="manufacturerChange($event)"></app-select-component>
   </label>
</div>
<div class="form-group">
  <label> Product Price:
     <input type="text" class="form-control"
     [(ngModel)]="product.Price"
     >
   </label>
</div>
<div class="btn-group-lg">
   <button class="btn  btn-primary"
    (click)="clear()"
   >New</button>
   <button class="btn  btn-success"
     (click)="save()"
   >Save</button>
</div>
</div>
<br/>
<!-- <app-table-component [DataSource]="products" [CanDelete]="true">

</app-table-component> -->

<div class="container">
    <h4>Loading a Shared Component</h4>
    <app-shared-component></app-shared-component>
</div>


<div class="container">
  <table class="table">
     <tr>
      <td>
        <input type="radio" name="r" value="red" (click)="color='red'"/>Red
      </td>
      <td>
        <input type="radio" name="r" value="blue" (click)="color='blue'"/>Blue
      </td>
      <td>
        <input type="radio"  name="r" value="yellow" (click)="color='yellow'"/>Yellow
      </td>
     </tr>
  </table>
</div>
<div class="container">
<table class="table table-bordered table-striped">
   <thead>
     <tr>
       <th *ngFor="let h of headers">{{h}}</th>
     </tr>
   </thead>
   <!-- <tbody> -->
     <tr *ngFor="let prd of products" (click)="selectRecord(prd)" [setColor]="color">
         <td *ngFor="let h of headers">
           {{prd[h]}}
         </td>
     </tr>
   <!-- </tbody> -->
</table>
</div>
